.container{
	width: 1000px;
	margin: 0px auto;
	
}

@media (min-width:500px){
	p.one{
		display:none;
	}
}

@media (min-width:550px){
	p.two{
		display:none;
	}
}

@media (min-width:680px){
	p.three{
		display:none;
	}
}

@media (min-width:810px){
	p.four{
		display:none;
	}
}

@media (min-width:940px){
	p.five{
		display:none;
	}
}

